@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  /* Colors */
  --color-primary-blue: hsl(221, 100%, 50%);
  --color-primary-navy: hsl(216, 94%, 21%);
  --color-dark-blue: hsl(216, 71%, 14%);
  --color-medium-gray: hsl(220, 9%, 46%);
  --color-teal: hsl(161, 94%, 30%);
  --color-mint: hsl(152, 81%, 96%);
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
  }
  h1,
  h2,
  h3 {
    padding: 0;
    margin: 0;
    color: var(--color-dark-blue);
  }
  p {
    color: var(--color-medium-gray);
  }
}
